<h2>
    <a href="{{ path('job_show') }}" class="title">
        {{ job.title }}
    </a>
</h2>

<div class="details">
    <span class="filter">
        <a href="#">{{ job.city }}, {{ job.country|country }}</a> /
        <a href="#">{{ job.contracttype }}</a>

        <br/><span class="archived">Archived since {{ job.getCreatedAt|date('d/m/Y') }}</span>
    </span>
</div>

<span class="company">@&nbsp;{{ job.company }}</span>
