<div class="details">
    <span class="filter">
        <a href="{{ path('homepage', (app.request.query.all)|merge({'country': job.country, 'page': null})) }}">{{ job.city }}, {{ job.country|country }}</a> /
        <a href="{{ path('homepage', (app.request.query.all)|merge({'contract-type': job.contractType, 'page': null})) }}">{{ job.contractType }}</a>
        
        <br/><span class="created">{{ job.createdAt|date('d/m/Y') }}</span>
    </span>
</div>

<a href="{{ path('job_show') }}" class="title">
    {{ job.title }}
    <span class="company">@&nbsp;{{ job.company }}</span>
</a>
