{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block page_class 'home' %}

{% block splash %}
    <div id="splash">
        <div class="section">
            <article>
                <img src="{{ asset('bundles/sensiolabsjobboard/images/home/megaphone.png') }}" alt="Job !" class="megaphone" />
                <p class="description">{{ 'home.description'|trans|raw }}</p>
            </article>
            {% include 'SensioLabsJobBoardBundle:Includes:search.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml"  href="#" title="Jobs RSS feed" />
{% endblock %}

{% block content %}
    <div id="left">
        {% include 'SensioLabsJobBoardBundle:Includes:country_filter.html.twig' %}
        {% include 'SensioLabsJobBoardBundle:Includes:contract_type_filter.html.twig' %}
        <ul class="function">
            <li>
                <a href="{{ path('homepage') }}"><img class="sprite-icon-dark-arrow-right" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt=">" /> {{ 'home.all_jobs'|trans }}</a>
            </li>
        </ul>
        <div class="feed">
            <a href="{{ path('job_feed', (app.request.query.all)) }}">
                <img src="{{ asset('bundles/sensiolabsjobboard/images/rss.png') }}" width="16" height="16" />
                <span>{{ 'home.rss'|trans }}</span>
            </a>
        </div>
    </div>
    <div id="right">
        <div id="job-container">
            {% include 'SensioLabsJobBoardBundle:Includes:job_container.html.twig' %}
        </div>
        <div
            data-page="1"
            data-url="{{ path('homepage', (app.request.query.all)) }}"
            data-empty="<center>No more jobs to show.</center>"
            id="loadmoreajaxloader"
            style="display:none;"
        >
            <center><img src="{{ asset('bundles/sensiolabsjobboard/images/ajax-loader.gif') }}" height="16" /></center>
        </div>
    </div>
    <div class="clear"></div>
    <script>
        var seeMore = "{{ 'home.more'|trans }}";
        var seeLess = "{{ 'home.less'|trans }}";
        var blank = "{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}";
    </script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts output='js/homepage.js'
        '@SensioLabsJobBoardBundle/Resources/assets/homepage.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
