{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'manage' %}

{% block title 'My jobs' %}

{% import "SensioLabsJobBoardBundle:Includes:pagination.html.twig" as pagination %}

{% block content %}
    {{ breadcrumb({
        ('My Jobs'): path('manage'),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <h2 class="big-title">My jobs</h2>
                <a href="{{ path('job_post') }}" class="add right"><img class="sprite-button-add-focus-grey-bg" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt="+" /> Post a job </a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span5"> Title </th>
                        <th class="span2"> Time left </th>
                        <th class="span2"> Displays </th>
                        <th class="span4"> Actions </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pager.getNbResults > 0 %}
                        {% for job in pager %}
                            <tr>
                                <td>
                                    <a href="{{ path('job_preview', {'country_code': job.country, 'contract_type': job.contractType, 'slug': job.slug}) }}">
                                        {{ job.contractType }} in {{ job.city }} &mdash; {{ job.title }}
                                    </a>
                                </td>

                                <td style="color:orange"> {% if job.getTimeLeft %}{{ job.getTimeLeft }}{% else %}Not online yet{% endif %}</td>

                                <td> {{ getTotalViewCount('job', job.id) }} </td>

                                <td class="action">
                                    <a href="{{ path('job_publish', {'id': job.id}) }}"> Publish </a> /

                                    <a href="{{ path('job_update', {'country_code': job.country, 'contract_type': job.contractType, 'slug': job.slug}) }}"> Make changes </a> /

                                    <a href="{{ path('job_delete', {'id': job.id}) }}"> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5"> You have no jobs. </td></tr>
                    {% endif %}
                    </tbody>
                </table>

                {{ pagination.paginate('manage', pager) }}

                <div class="clear"></div>
            </div>
        {% endblock%}
        {% block box_clear %}
        {% endblock %}
    {% endembed %}
    <div class="clear"></div>
{% endblock %}
