{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'manage' %}

{% block title 'My jobs' %}

{% import "SensioLabsJobBoardBundle:Includes:pagination.html.twig" as pagination %}

{% block content %}

    {% include 'SensioLabsJobBoardBundle:Includes:flash_message.html.twig' %}

    {{ breadcrumb({
        ('My Jobs'): path('manage'),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <h2 class="big-title">{{ 'header.my_job'|trans }} </h2>
                <a href="{{ path('job_post') }}" class="add right"><img class="sprite-button-add-focus-grey-bg" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt="+" />  {{ 'header.post_job'|trans }} </a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span5"> {{ 'job.titre'|trans }} </th>
                        <th class="span3"> {{ 'job.time_left'|trans }} </th>
                        <th class="span1"> {{ 'job.displays'|trans }} </th>
                        <th class="span4"> {{ 'job.actions'|trans }} </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pager.getNbResults > 0 %}
                        {% for job in pager %}
                            <tr>
                                <td>
                                    <a href="{{ path('job_preview', {'country_code': job.country, 'contract_type': job.contractType, 'slug': job.slug}) }}">
                                        {{ job.contractType }} in {{ job.city }} &mdash; {{ job.title }}
                                    </a>
                                </td>

                                <td style="color:orange">{% if job.visibleTo %}{{ time_diff(job.visibleTo)|capitalize }}{% else %}{{ 'job.not_online_yet'|trans }}{% endif %}</td>

                                <td> {{ getTotalViewCount('job', job.id) }} </td>

                                <td class="action">
                                    <a href="{{ path('job_publish', {'id': job.id}) }}"> {{ 'job.publish'|trans }} </a> /

                                    <a href="{{ path('job_update', {'country_code': job.country, 'contract_type': job.contractType, 'slug': job.slug}) }}"> {{ 'job.make_changes'|trans }} </a> /

                                    <a href="{{ path('job_delete', {'id': job.id}) }}"> {{ 'job.delete'|trans }} </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5"> {{ 'job.no_jobs'|trans }} </td></tr>
                    {% endif %}
                    </tbody>
                </table>

                {{ pagination.paginate('manage', pager) }}

                <div class="clear"></div>
            </div>
        {% endblock%}
        {% block box_clear %}
        {% endblock %}
    {% endembed %}
    <div class="clear"></div>
{% endblock %}
